<% provide(:title, "Log In") %>

<div class="row justify-content-md-center top-spaced">
  <div class="col-md-6">
    <h1>Log In</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control form-input' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control form-input' %>

      <%= f.submit "Log In", class: "btn form-input form-button" %>

      <%= link_to "Sign Up", signup_path, class: "signup-link" %>

    <% end %>
  </div>
</div>
