<%= form_for(:user, :url => user_update_path(:user), method: "patch", remote: true, html: { id: 'update-profile-form', :data_type => 'json'}) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control form-input' %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control form-input' %>

  <%= f.label :last_names %>
  <%= f.text_field :last_names, class: 'form-control form-input' %>

  <%= f.label :mobile_phone %>
  <div class="form-row">
    <div class="col-3">
      <%= f.select(:phone_prefix, [['(+1)', '+1'], ['(+57)', '+57']], {}, {class: 'form-control form-input'}) %>
    </div>
    <div class="col-9">
      <%= f.text_field :mobile_phone, class: 'form-control form-input' %>
    </div>
  </div>

  <%= f.submit 'Save changes', class: 'btn form-input form-button' %>

<% end %>
