<% provide(:title, 'Sign up') %>

<div class="row justify-content-md-center top-spaced">
  <div class="col-md-6">
    <h1>Sign up</h1>
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control form-input" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control form-input" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control form-input" %>

      <%= f.submit "Sign Up", class: "btn form-input form-button" %>

      <%= link_to "Log in", login_path, class: "signup-link" %>
    <% end %>
  </div>
</div>
