<% provide(:title, 'Home') %>
<div class="row pt-2">
  <div class="col-md-8 offset-md-1">
    <% if @user.cvs.blank? %>
      <%= render partial: 'cvs/no_cvs' %>
    <% else %>
      <%= render partial: 'cvs/list' %>
    <% end %>
  </div>
  <div class="col-md-3 basic-info">
    <h5><%= @user.first_name %> <%= @user.last_names %></h5>
    <hr />
    <p><%= user_cvs_count(@user) %></p>
    <p><%= user_sections_count(@user) %></p>
    <p><%= user_custom_sections_count(@user) %></p>
  </div>
</div>
