<%= form_for(:user_profile) do |f| %>
  <%= f.label :second_name %>
  <%= f.text_field :second_name, class: 'form-control form-input' %>

  <%= f.label :other_names %>
  <%= f.text_field :other_names, class: 'form-control form-input' %>

  <%= f.label :address_1, 'Address' %>
  <%= f.text_field :address_1, class: 'form-control form-input' %>

  <%= f.label :address_2, 'Address Line 2' %>
  <%= f.text_field :address_2, class: 'form-control form-input' %>

  <%= f.label :postcode %>
  <%= f.text_field :postcode, class: 'form-control form-input' %>

  <%= f.label :land_phone, 'Phone' %>
  <%= f.text_field :land_phone, class: 'form-control form-input' %>

  <%= f.label :country_code, 'Country' %>
  <%= f.collection_select :country_code, Country.all, :code, :name, {include_blank: 'Select'}, {class: 'form-control form-input'} %>

  <%= f.label :area_code, 'Area' %>
  <%= f.collection_select :area_code, [], :name, :name, {include_blank: true}, {class: 'form-control form-input', disabled: 'true'} %>

  <%= f.label :city_code, 'City' %>
  <%= f.text_field :city_code, class: 'form-control form-input' %>

  <%= f.submit "Save changes", class: 'btn form-input form-button' %>
<% end %>
