<% provide(:title, "Profile") %>
<div class="row justify-content-md-center pt-4">
  <div class="col-md-6">
    <h2>Basic Info</h2>
    <%= render partial: 'users/form', locals: {user: @user} %>
    <br />
    <h2>Additional information</h2>
    <%= render partial: 'form', locals: {user_profile: @account} %>
  </div>
</div>
