<div class="row justify-content-md-center pt-5">
  <div class="col-md-6 text-center no-cvs-container">
    <h1>Create as many CVs and Resumes as you want, for free</h1>
    <div class="col-md-8 offset-md-2 new-cv">
      <span class="icon-file1"></span>
      <h6>Create your first CV</h6>
    </div>
  </div>
</div>
