// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-color: #2c666e;
$back-color: #c5d5e8;
$font-color: #3e7cb1;
$title-color: #054a91;
$light-color: #aeecef;
$title-size: 18pt;

.signup-link{
  position: relative;
  top: 6px;
  left: 15px;
}

.navbar-dark{
  background-color: $main-color;
  margin-bottom: 10px;
}

#navbarNav{
  ul{
    li{
      a{
        color: $back-color;
      }
      a:hover{
        color: $light-color;
      }
    }
  }
}

.navbar-brand{
  font-family: 'Marcellus SC', sans-serif;
  font-size: $title-size;
}

h1{
  font-size: $title-size;
  color: $title-color;
}

.main-container{
  padding-top: 20px;
}

.no-cvs-container{
  color: $font-color;
  span{
    font-size: 120pt;
  }
}

.basic-info{
  color: $font-color;
  h5{
    color: $title-color;
  }
  p{
    margin-bottom: 5px;
  }
}

.new-cv{

}
