// Place all the styles related to the UserProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-input{
  border-radius: 0;
}

.form-button{
  color: white;
  margin-top: 8px;
  background: #13276e;
}
