<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Open Resume</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <div class="container-fluid main-container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type == 'error' ? 'danger' : message_type %>"><%= message %> </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
